<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <param name="Encoding" value="UTF-8"/>
        <destination>logging-logstash.logging.svc.cluster.local:8080</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"service":"vote"}</customFields>
        </encoder>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{dd-MM-yyyy HH:mm:ss.SSS} |%X{requestId}| %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="stash"/>
        <appender-ref ref="console"/>
    </root>

    <logger name="org.springframework.boot" level="info">
        <appender-ref ref="stash"/>
        <appender-ref ref="console"/>
    </logger>

    <logger name="logging.level.org.springframework.web" level="debug">
        <appender-ref ref="stash"/>
        <appender-ref ref="console"/>
    </logger>
</configuration>
